/* COMMENT: this allows us to use a specific font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* Resetting the document */
* {
/* COMMENT: this sets the margin to 0 */
  margin: 0;
/* COMMENT: this sets the padding to 0 */
  padding: 0;
/* COMMENT: this sets a rule for width and height to include any border and padding */
  box-sizing: border-box;
}

/* Style the header */
header {
/* COMMENT: this creates a linear gradient from purple to red to yellow for the header background */
  background: linear-gradient(90deg, rgba(0,0,250,1) 0%,
                                     rgb(0, 138, 244) 50%, 
                                     rgb(4, 254, 221) 100%);
/* COMMENT: this adds some padding around the header */
  padding: 30px 40px;
/* COMMENT: this makes the header text white */
  color: white;
/* COMMENT: this centers the header text */
  text-align: center;
}

/* COMMENT: this specifies the style for h1 elements */
h1 {
/* COMMENT: this sets the h1 font */
  font-family: 'Acme', sans-serif;
/* COMMENT: this specifies the h1 letter spacing */
  letter-spacing: 2px;
/* COMMENT: this sets the h1 bottom margin */
  margin-bottom: 15px;;
}

/* COMMENT: this specifies the style for input elements */
input {
/* COMMENT: this sets the width fo the input fields to be 3/4 */
  width: 75%;
/* COMMENT: this sets the right margin of input fields */
  margin-right: 0;
/* COMMENT: this sets the padding for input fields */
  padding: 10px;
/* COMMENT: this specifies no border for input fields */
  border: none;
/* COMMENT: this sets the font size for input fields */
  font-size: 14px;
/* COMMENT: this sets the font family for input fields */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* COMMENT: this specifies the style for elements of the class "addBtn" */
.addBtn {
/* COMMENT: this sets the width of the add button to be 1/4 */
  width: 25%;
/* COMMENT: this sets the padding for the add button */
  padding: 10px;
/* COMMENT: this sets the font size for the add button */
  margin-left:0;
/* COMMENT: this sets the background of the add button */
  background: #d9d9d9;
/* COMMENT: this sets the text color of the add button */
  color: #555;
/* COMMENT: this centers the text on the add button */
  text-align: center;
/* COMMENT: this sets the font size for the text of add button */
  font-size: 14px;
/* COMMENT: this makes cursors appear as pointers on hover on the add button */
  cursor: pointer;
/* COMMENT: this sets the transition period for the add button click */
  transition: 0.3s;
/* COMMENT: this sets the font family for the text of the add button */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
/* COMMENT: this bolds the text of the add button */
  font-weight: bold;
}

/* COMMENT: this specifies the style for elements of the class "addBtn" on hover */
.addBtn:hover {
/* COMMENT: this sets the background of the add button to be a lighter grey on hover */
  background-color: #bbb;
/* COMMENT: this sets the text of the add button to be white on hover */
  color: #FFF;
}

/* Style the list items */
ul li {
/* COMMENT: this makes cursors appear as pointers on hover over an unordered list item */
  cursor: pointer;
/* COMMENT: this specifies the position of the unordered list item should be interpreted as relative to itself */
  position: relative;
/* COMMENT: this sets the padding for the unordered list item */
  padding: 12px 8px 12px 40px;
/* COMMENT: this specifies no special bullet points or prefixes for the unordered list item */
  list-style-type: none;
/* COMMENT: this sets the background of the unordered list item */
  background: #eee;
/* COMMENT: this sets the font size for the unordered list item */
  font-size: 14px;
/* COMMENT: this sets the transition period for the unordered list item on hover */
  transition: 0.2s;
/* COMMENT: this sets the font family for the unordered list item */
  font-family: Verdana, Geneva, Tahoma, sans-serif;


  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
/* COMMENT: this sets the background of the odd unordered list items to be a lighter grey for every odd numbered item */
  background: #b2bec3;
}

/* Darker background-color on hover */
ul li:hover {
/* COMMENT: this sets the background of the unordered list item to be a lighter grey on hover */
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
/* COMMENT: this sets the background of the unordered list item to be a darker grey when checked */
  background: #888;
/* COMMENT: this sets the text of the unordered list item to be white when checked */
  color: #fff;
/* COMMENT: this adds a line through the text of the unordered list item when checked */
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
/* COMMENT: this section creates a checkmark using borders */
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the trash button */
.far {
/* COMMENT: this sets the position of the trash icon to be absolute */
  position: absolute;
/* COMMENT: this sets the right margin of the trash icon */
  right: 0;
/* COMMENT: this sets the top margin of the trash icon */
  top: 0;
/* COMMENT: this sets the padding for the trash icon */
  padding: 12px 16px 12px 16px;
}

/* COMMENT: this styles the trash button on hover */
.far:hover {
/* COMMENT: this sets the color of the trash icon to be red on hover */
  background-color: tomato;
/* COMMENT: this sets the color of the trash icon to be white on hover */
  color: white;
}





